<app-navbar></app-navbar>
<div class="container">
  <router-outlet></router-outlet>
</div>
<footer class="footer_4g8hc">
  Designed and built by Ahmed Ali, data provided by
  <a
    class="tmdb"
    target="_blank"
    href="https://www.themoviedb.org/"
    rel="noopener"
    >TMDb</a
  >.
  <div class="mt-2">
    <a href="http://" target="_blank">
      <i class="fa-brands fa-linkedin fa-xl me-3"></i
    ></a>
    <a href="http://" target="_blank">
      <i class="fa-brands fa-github fa-xl me-3"></i>
    </a>
    <a href="mailto:Ahmed.ali050607@gmail.com" target="_blank"
      ><i class="fa-regular fa-envelope fa-xl me-3"></i
    ></a>
  </div>
</footer>
