<div class="row mt-5 py-4">
  <div class="col-md-3 position-relative">
    <img class="w-100" [src]="imagePrefix + movieDetails.poster_path" alt="" />
    <div class="vote p-2 fw-bolder position-absolute top-0 bg-lights">
      {{ movieDetails.vote_average }}
    </div>
  </div>
  <div class="col-md-9">
    <h2 class="fw-bolder">{{ movieDetails.title }}</h2>
    <h3 class="h5 mt-3">StoryLine</h3>
    <p class="fs-6 my-2 text-light-emphasis p-2">{{ movieDetails.overview }}</p>
    <div class="genral">
      <h6 class="p-0 m-0">Released</h6>
      <p class="p-0 m-0 ps-3">
        {{ movieDetails.release_date }}
      </p>
    </div>
    <div class="genral">
      <h6 class="p-0 m-0">Runtime</h6>
      <p class="p-0 m-0 ps-3">{{ movieDetails.runtime }}min</p>
    </div>
    <div class="genral">
      <h6 class="p-0 m-0">Genres</h6>
      <ul class="p-0 m-0 ps-3">
        <li class="me-1" *ngFor="let x of movieDetails.genres">{{ x.name }}</li>
      </ul>
    </div>
    <div class="genral">
      <h6 class="p-0 m-0">Language</h6>
      <p class="p-0 m-0 ps-3">English</p>
    </div>
    <div class="genral">
      <h6 class="p-0 m-0">Production</h6>
      <p
        class="p-0 m-0 ps-3"
        *ngFor="let x of movieDetails.production_companies"
      >
        {{ x.name }}
      </p>
    </div>
  </div>
</div>
<div class="trailer-video"></div>

<div class="slider mt-3">
  <h3>Cast</h3>
  <button (click)="slideButtonPre(0)" id="prev-slide" class="slide-button">
    <i class="fa-solid fa-angle-left"></i>
  </button>
  <div (scroll)="handelSlideButtom(0)" class="slider-content">
    <div *ngFor="let result of MovieCast" class="link-container">
      <a [routerLink]="['/PersonDetails', result.id]">
        <img [src]="imagePrefix + result.profile_path" alt="" />
        <h4>{{ result.name }}</h4>
      </a>
    </div>
  </div>
  <button id="next-slide" (click)="slideButtonNex(0)" class="slide-button">
    <i class="fa-solid fa-angle-right"></i>
  </button>
</div>
<div class="slider mt-3">
  <h3>Similar Movies</h3>
  <button (click)="slideButtonPre(1)" id="prev-slide" class="slide-button">
    <i class="fa-solid fa-angle-left"></i>
  </button>
  <div (scroll)="handelSlideButtom(1)" class="slider-content">
    <div *ngFor="let result of movieSimilar" class="link-container">
      <a [routerLink]="['/moviedetails', result.id]">
        <img [src]="imagePrefix + result.poster_path" alt="" />
        <h4>{{ result.title }}</h4>
      </a>
      <div class="vote p-2 fw-bolder position-absolute top-0 start-0 bg-lights">
        {{ result.vote_average }}
      </div>
    </div>
  </div>
  <button id="next-slide" (click)="slideButtonNex(1)" class="slide-button">
    <i class="fa-solid fa-angle-right"></i>
  </button>
</div>
